.swiper-slide-team {
    border-radius: 25px;
    -webkit-backdrop-filter: blur(30px) !important;
    backdrop-filter: blur(30px) !important;
    position: relative;
    overflow: hidden !important;
}


@-moz-document url-prefix() {
 
    .team-card { 
        background-color: #003843d6;
     }
 
}



.manager_title{
    background: linear-gradient(183deg, #00F186 0%, #00B1E5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}


.fade{
 animation: move 2s ease-in;
}

.swiper-slide-shadow-left{
        border-radius: 25px;
}

.swiper-slide-shadow-right{
        border-radius: 25px;
}

@keyframes move{
    from {
       transform: translate(100px);
    }
    to {
        transform: translate(0px);
    }
}
