NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXT_PUBLIC_LISTMONK_USERNAME=
NEXT_PUBLIC_LISTMONK_PASSWORD=
NEXT_PUBLIC_LISTMONK_URL=

NEXT_PUBLIC_LISTMONK_FOSSFLASH_LIST_UUID=
NEXT_PUBLIC_LISTMONK_DEFAULT_LIST_UUID=
