/* footer.css */
.footer {
  /*     background: url('../../public/BG_with_lines.webp') no-repeat center center fixed;
      background-size: auto 100%; */
      clip-path: polygon( -62.051% 28.779%,-62.051% 115.892%,307.692% 115.892%,307.692% 9.908%,307.692% 9.908%,303.453% 10.262%,297.957% 10.821%,291.294% 11.595%,283.552% 12.598%,274.821% 13.841%,265.19% 15.338%,254.747% 17.101%,243.583% 19.142%,231.785% 21.474%,219.443% 24.109%,219.443% 24.109%,204.055% 26.52%,189.262% 27%,174.935% 25.881%,160.942% 23.496%,147.153% 20.177%,133.438% 16.258%,119.666% 12.072%,105.706% 7.95%,91.427% 4.227%,76.699% 1.234%,76.699% 1.234%,63.896% 0.052%,49.754% 0.373%,34.686% 1.961%,19.105% 4.582%,3.424% 7.999%,-11.946% 11.977%,-26.591% 16.279%,-40.098% 20.671%,-52.056% 24.916%,-62.051% 28.779% );
      background: linear-gradient(180deg, #000E10 0%, #002226 50.35%);
}


@media (min-width: 1024px) {
.footer {
/*     background: url('../../public/BG_with_lines.webp') no-repeat center center fixed;
    background-size: auto 100%; */
    clip-path: polygon( 0% 24.832%,0% 100%,100% 100%,100% 8.549%,100% 8.549%,98.853% 8.855%,97.367% 9.337%,95.565% 10.005%,93.471% 10.87%,91.11% 11.943%,88.505% 13.235%,85.681% 14.756%,82.661% 16.517%,79.47% 18.529%,76.132% 20.803%,76.132% 20.803%,71.97% 22.883%,67.97% 23.298%,64.095% 22.332%,60.31% 20.274%,56.581% 17.41%,52.872% 14.029%,49.147% 10.416%,45.371% 6.86%,41.509% 3.647%,37.526% 1.065%,37.526% 1.065%,34.063% 0.045%,30.239% 0.321%,26.163% 1.692%,21.949% 3.954%,17.708% 6.902%,13.551% 10.334%,9.591% 14.047%,5.937% 17.836%,2.703% 21.499%,0% 24.832% );
    background: linear-gradient(180deg, #000E10 0%, #002226 50.35%);
  }
} 